@use '@styles' as styles;

.user_card {
  max-width: 280px;
  border: 1px solid styles.$primary-color;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.user_card_username,
.user_card_description {
  color: styles.$text-color;
}

.user_card_username {
  font-size: 24px;
  margin: 5px 0;
}

.user_card_description {
  font-size: 16px;
  margin-bottom: 15px;
}

.user_card button {
  margin: 5px 0;
  width: 100%;
}