@use '@styles' as styles;

.auth_wrapper {
    max-width: 1200px;
    margin: 100px auto;
}

.header {
    margin: 0 auto 50px;
    text-align: center;
    width: 80%;
}

.header_title {
    color: styles.$primary-color;
    margin-bottom: 10px;
    font-size: 32px;
}

.header_description {
    color: styles.$text-color;
}

.auth_container {
    display: flex;
    justify-content: center;
    gap: 50px;
}