@use '@styles' as styles;

h3 {
    color: styles.$primary-color;
}

.container {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.signupForm {
    border: 1px solid styles.$primary-color;
    border-radius: 5px;
    padding: 25px 30px;
}

.inputHeader {
    margin: 0 0 10px;
    font-size: 24px;
}

.inputText {
    margin: 0 auto 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid styles.$primary-color;
    color: styles.$text-color;
    width: 100%;
}

.inputField {
    width: 100%;
    padding: 10px;
    margin: 0 auto 10px;
    border: 1px solid styles.$primary-color;
    border-radius: 5px;
}

.inputField::placeholder {
    color: styles.$text-color;
}

.signupForm button {
    width: 100%;
    margin-top: 25px;
}
