.page404 {
    font-size: 30px;
    text-align: center;
    font-style: italic;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.page404 img {
    max-width: 300px;
}